.header {
    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-font-size: 64px;
}
#RoomFinderTitle .text {
    -fx-stroke: black;
    -fx-stroke-width: 2px;
}


.transparent {
    -fx-background-color: transparent;
}

.image-view {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 50;
}




.jfx-combo-box {
    -fx-background-color: transparent;
}

.jfx-combo-box .label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.jfx-table-view .label {
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-background-radius: 10;
    -fx-text-fill: black;
    -fx-fill: black;
}
/*
https://stackoverflow.com/questions/55093764/javafx-how-to-disable-scrollbars-in-tableview
 */
.jfx-table-view .scroll-bar {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.jfx-table-view .
.table-row-cell {
    -fx-background-color: transparent;
}




.glassblue {
    -fx-background-color: rgba(0, 100, 100, 0.5);
    -fx-background-radius: 10;
}

.glassdark {
    -fx-background-color: rgba(75, 75, 75, 0.5);
    -fx-background-radius: 10;
}

.glasswhite {
    -fx-background-color: rgba(240, 240, 240, 0.5);
    -fx-background-radius: 10;
}

.glassblack {
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-background-radius: 10;
}

.glassgray {
    -fx-background-color: rgba(135, 135, 135, 0.63);
    -fx-background-radius: 10;
}

.glassgreen {
    -fx-background-color: rgba(50, 168, 129, .6);
    -fx-background-radius: 10;
}




#btnHome {
    -fx-background-color: transparent;
}

#homeLogo {
    -fx-background-image: URL("pineapple.png");
}

#RoomFinderBackground {
    -fx-background-image: url("beach.jpg");
}

