.gridpane {
    -fx-border-color: white;
    -fx-fill: white;
}

.gridpaneLabel {
    -fx-border-color: white;
}

.jfx-combo-box {
    -fx-background-color:  lightgrey;
}

.jfx-combo-box .label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
/*
https://github.com/jfoenixadmin/JFoenix/issues/305
*/